/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/image
/public/favicon.ico
database/homestead.sql
database/inkblot-seed-data.sql
public/upload
public/static
public/css/app.*.css
public/js/app.*.js
public/fonts/vendor/
public/mix-manifest.json
.swp
public/uploads/
